@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html,
body, 
#root,
.app{
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  background-color: (29, 33, 38, 0.4);
  color:#ddd;
}

.signupForm, .loginForm, .productForm{
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  margin-top: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  transform: translateY(0);
  opacity: 1;
  animation: fadeInUp 0.5s ease-in-out;
}

@keyframes fadeInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

input{
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form button{
  background:#001208;
  border: 0;
  color: whitesmoke;
  padding: 10px;
  font-family: roboto;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

div .errorState{
  padding: 10px;
  background: #ffefef;
  border: 1px solid #e71951;
  border-radius: 4px;
  margin: 20px 0;
  color: #e71951;
  
}
input.errorState{
  border: 1px solid #e71951;
}
label{
  display: block;
  color: black;
}

.hoursCard{
  width:"50%";
   margin:"auto";
   margin-bottom:"10px";
}